@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.logotype {
    width: 80px;
    height: 80px;
    margin-left: 70px;
    margin-top: 5px;
}


.title-logo {
    color: #dcb454;
    margin-left: 70px;
    
}

.title-logo
p {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}

.title-logo
h3 { 
    text-align: center;
    margin-bottom: 5px; 
    font-size: 25px;

}

.fone-block1 {
    background: url(../img/fone-block1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    background-attachment: fixed;
    padding: 100px;
    padding-top: 150px;
}

.title-block1 {
    color: white;
    font-family: 'Istok Web', sans-serif;
}

.title-block1
p {
    margin: 0px;
    font-size: 40px;
    text-align: center;
}

.title-block1
ul {
    font-size: 25px;
    margin-top: 60px;
}


.button-block1
button {
    background-color: black; 
    border: none;
    color: #dcb454;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Istok Web', sans-serif;
}

/* button:hover {
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
} */

.social {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-top: 40px;
}

.social-icons {
    width: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

 @media (max-width: 1150px) {
    .social-icons {
        display: flex;
        flex-direction: column;
    } 
}




.burger {
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 100px;
}

.button {
    padding: 0px 20px 5px 20px;
    color: #dcb454;
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
    text-decoration: none;
}

.menu {
    margin-top: 40px;
    margin-left: 200px;
}

