
@media (max-width: 1200px) {
    .contacts-all {
      display: flex;
      flex-direction: column;
    }
}

@media (max-width: 520px) {
    .message-form {
      width: auto;
      height: auto;
  }
}

@media (max-width: 1200px) {
    .social-end {
      text-align: center;
    }
}

@media (max-width: 1000px) {
    .menu {
      display: none;
    }
}

@media (max-width: 700px) {
    .slide-show img{
      width: 300px;
      height: 300px;
    }
}

@media (max-width: 700px) {
  .title-block1
    p {
      font-size: 15px;
      margin: auto;
    }
    ul {
      font-size: 10px;
  }
}

@media (max-width: 700px) {
  .fone-block1 {
    height: 300px;
    width: auto;
  }
}